
<div class="jumbotron">
    <table>
        @for (int fila = 0; fila < 8; fila++)
        {
            <tr>
                <!--fila-->
                @for (int columna = 0; columna < 8; columna++)
                {
                <td>
                    @foreach (var buscar in Model)
                    {

                        int inicio = ((int)char.ToUpper(char.Parse(buscar.columna))) - 64;
                        if (inicio == columna + 1 && Convert.ToInt32(buscar.fila) == fila + 1)
                        {


                            if (buscar.color == "blanco")
                            {
                                <img src="~/blanco.jpg" />
                                <label> @columna </label>
                                <label> @fila </label>
                            }
                            if (buscar.color == "negro")
                            {
                                <img src="~/negro.jpg" />
                            }
                        }
                    }
                </td>
                }
            </tr>
        }
    </table>
</div>
<div class="jumbotron">
    <div class="col-md-4">
        <!--boton para cargar una partida guardada-->
        <form action="/ArchivoCarga/Generar" method="post">
            <input type="submit" value="Guardar" />
        </form>
    </div>
</div>
